<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}ToDo App{% endblock %}</title>
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>{% block header %}Task Mnager{% endblock %}</h1>
            <p>{% block subheader %}Welcome, {{ user.username }}{% endblock %}</p>
        </div>

        <div class="content">
            {% block content %}

            {% endblock %}
        </div>
    </div>

    {% block extra_js %}{% endblock %}
</body>
</html>